body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // background: -webkit-linear-gradient(329deg, #ad4e4d, #a21572, #322bae)
  //   no-repeat;
  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(329deg, #ad4e4d, #a21572, #322bae) no-repeat;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #5a5a5a;

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  span {
    font-weight: 600;
  }

  span-1 {
    font-weight: 600;
    background-color: #f08206;
    padding: 5px 10px;
    border-radius: 5px 15px;
  }

  span-2 {
    font-weight: 600;
    background-color: #cafbff;
    padding: 5px 10px;
    border-radius: 5px 15px;
  }

  span-3 {
    font-weight: 600;
    background-color: #4255ff;
    padding: 5px 10px;
    border-radius: 5px 15px;
    color: white;
  }

  span-4 {
    font-weight: 600;
    background-color: #007206;
    padding: 5px 10px;
    border-radius: 5px 15px;
    color: white;
  }

  header {
    display: flex;
    padding: 15px 100px 0 100px;
    color: #000;
    justify-content: space-between;
    align-items: center;
    box-shadow: -4px 16px 42px -7px #000000;
    position: fixed;
    background-color: white;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;

    .logo {
      width: 150px;
      cursor: pointer;
    }
    .menu {
      display: flex;
      flex-direction: row;
      display: flex;
      .menu_title {
        font-size: 25px;
        margin-right: 150px;
        height: 30px;
        cursor: pointer;
        font-weight: bold;
      }
      .menu_title:last-child {
        margin-right: 0;
      }
      .menu_title:hover {
        border-bottom: 1px solid rgb(185, 13, 219);
      }
    }
    .profile {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    section {
      .wrapper_tarot_details {
        margin-top: 100px;
        .container_tarot_title {
          background-image: url("images/waite.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          width: 100%;
          height: 500px;
          position: relative;
          .tarot_title {
            z-index: 10;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
          }
        }
        .container_tarot_title:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 2;
        }
        .container_tarot {
          font-size: 22px;
          margin: 50px 300px;
          .tarot_text {
            font-family: "Noto Serif", sans-serif;
          }
        }
        .cards_tarot_wrapper {
          margin: 0 100px;
          display: flex;
          flex-direction: column;
          .cards_title {
            font-size: 45px;
            font-weight: 600;
            letter-spacing: 5px;
            border-bottom: 1px solid white;
            padding-bottom: 7px;
          }
          #div1{
            display: none;
          }
          .cards_container {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .card {
              display: flex;
              background-color: white;
              border-radius: 10px;
              width: 400px;
              flex-direction: column;
              align-items: center;
              color: #000000;
              .card_img {
                display: flex;
                width: 200px;
                height: 300px;
                padding-top: 15px;
              }
              .card_text {
                padding: 15px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
footer {
  color: #000;
}

@media (max-width: 1050px) {
  body {
    main {
      section {
        .wrapper_tarot_details {
          .container_tarot {
            font-size: 35px;
            margin: 50px 50px;
          }
          .cards_tarot_wrapper {
            margin: 0 50px;
            .cards_title {
              font-size: 55px;
            }
            .cards_container {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .card {
                width: 100%;
                margin-bottom: 50px;
                .card_text {
                  font-size: 35px;
                }
              }
              .card:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
