body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  font-family: "Montserrat", sans-serif;

  header {
    margin: 0;
    display: flex;
    margin: 15px 100px 0 100px;
    color: #000;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 150px;
      cursor: pointer;
    }
    .menu {
      display: flex;
      flex-direction: row;
      display: flex;
      .menu_title {
        font-size: 25px;
        margin-right: 70px;
        height: 30px;
        cursor: pointer;
        font-weight: bold;
      }
      .menu_title:last-child {
        margin-right: 0;
      }
      .menu_title:hover {
        border-bottom: 1px solid rgb(185, 13, 219);
      }
    }
    .profile {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(329deg, #ad4e4d, #a21572, #322bae)
      no-repeat;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(329deg, #ad4e4d, #a21572, #322bae) no-repeat;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    section {
      margin: 0 150px;
    }
  }
  footer {
    color: #000;
  }
}
